@import url(css/default.css);
@import url(css/layout.css);
@import url(css/media-queries.css);
@import url(css/magnific-popup.css);

body {
	display: none;
}

#about .profile-pic {
	width: 100%;
	height: auto;
}

.bar-expand {
	padding-left: 10px;
	overflow: visible;
	white-space: nowrap;
}

#nav-wrap {
	position: absolute;
}

#resume .three.columns h1 {
	line-height: 40px;
}