@import url("//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/darkly/bootstrap.min.css");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

body, #industry {
	display: none;
}

nav {
	margin-top: 30px;
}

#courses ul {
	padding-left: 45px;
}

#skills ul {
	font-size: 120%;
	margin-bottom: 0;
}

#skills ul li {
	font-weight: normal;
}

#picture {
	margin-bottom: 20px;
}

.removebottommargin {
	margin-bottom: 0;
}

.panel-heading h3 {
	margin-top: 5px;
	margin-bottom: 5px;
}

#summary {
	margin-top: 40px;
}

@media (min-width: 768px) {
	#picture {
		width: 212.5px;
	}
}

@media (min-width: 1200px) {
	#picture {
		width: 262.5px;
	}
}
